<div class="row">
  <div class="page-header">
    <h1>Gerrit Ranks</h1>
  </div>
  <div class="col-md-5">
    <!-- merged all -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">ALL</li>
        </ol>
        <ad-table-lite table-name="mergedAll"
                       column-definition="mergedTableDef"
                       local-data-source="merged.all"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- merged primeribs -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">primeribs</li>
        </ol>
        <ad-table-lite table-name="mergedPrimeribs"
                       column-definition="mergedTableDef"
                       local-data-source="merged.primeribs"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- merged steak -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">steak</li>
        </ol>
        <ad-table-lite table-name="mergedSteak"
                       column-definition="mergedTableDef"
                       local-data-source="merged.steak"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- merged salmon -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">salmon</li>
        </ol>
        <ad-table-lite table-name="mergedSalmon"
                       column-definition="mergedTableDef"
                       local-data-source="merged.salmon"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <!-- reviewed all -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">ALL</li>
        </ol>
        <ad-table-lite table-name="reviewedAll"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.all"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- reviewed primeribs -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">primeribs</li>
        </ol>
        <ad-table-lite table-name="reviewedAll"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.primeribs"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- reviewed steak -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">steak</li>
        </ol>
        <ad-table-lite table-name="reviewedAll"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.steak"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- reviewed salmon -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">salmon</li>
        </ol>
        <ad-table-lite table-name="reviewedAll"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.salmon"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- TODO, custom query -->
</div>