<div class="row">
  <div class="page-header">
    <h1>Gerrit Ranks</h1>
  </div>
  <div class="col-md-5">
    <!-- merged all -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">ALL</li>
        </ol>
        <ad-table-lite table-name="mergedAll"
                       column-definition="mergedTableDef"
                       local-data-source="merged.all"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- merged repo1 -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">repo1</li>
        </ol>
        <ad-table-lite table-name="mergedrepo1"
                       column-definition="mergedTableDef"
                       local-data-source="merged.repo1"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- merged repo2 -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">repo2</li>
        </ol>
        <ad-table-lite table-name="mergedrepo2"
                       column-definition="mergedTableDef"
                       local-data-source="merged.repo2"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- merged repo3 -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Merged</li>
          <li>Last 7 days</li>
          <li class="active">repo3</li>
        </ol>
        <ad-table-lite table-name="mergedrepo3"
                       column-definition="mergedTableDef"
                       local-data-source="merged.repo3"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <!-- reviewed all -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">ALL</li>
        </ol>
        <ad-table-lite table-name="reviewedAll"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.all"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- reviewed repo1 -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">repo1</li>
        </ol>
        <ad-table-lite table-name="reviewedrepo1"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.repo1"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- reviewed repo2 -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">repo2</li>
        </ol>
        <ad-table-lite table-name="reviewedrepo2"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.repo2"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
    <!-- reviewed repo3 -->
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li>Reviewed</li>
          <li>Last 7 days</li>
          <li class="active">repo3</li>
        </ol>
        <ad-table-lite table-name="reviewedrepo3"
                       column-definition="reviewedTableDef"
                       local-data-source="reviewed.repo3"
                       table-classes="table table-bordered table-striped"
                       disable-paging="true">
        </ad-table-lite>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- TODO, custom query -->
</div>